*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   font-size:16px;
}

img,
iframe {
max-width: 100%;
height: auto;
/* so that aspect ratio is kept even if height is declared in markup */ 
border: 0;
/* this stops a border if the image is inside a link */
}

/* This is a CSS comment.
Always comment your work to explain what you're doing */ 
body {
font-family: arial, sans-serif;
}

/*
background color defaults
Note that HTML and CSS use American spelling (color not colour). */
body {
      background-color:linear-gradient(to right, #009fff, #00c1ff, #00ddfa, #00f2b6, #00ff55);
     }

/* Note that if we want a number of different elements to have the same style, we just comma separate them. */
header, footer {
               text-align: center;
               }

/* TYPOGRAPHY*/
h1 {
    font-size:60px;
    color:yellow; /* white */
    text-transform: uppercase;
   } 
h2 {
    font-size: 50px;
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
   }
h1,h2,p,li {
            padding-bottom: 1em; 
           }


.item {
       background-image: linear-gradient(to right, #6666cc, #5e5ec5, #5656bd, #4e4eb6, #4646af);
       padding:1%;
       margin:1%; 
       margin-bottom: 20px; 
       margin-top: 20px; 
       border-radius:10px;
}
/* let's bring the width in a little */
/* check it out - we're responsive without even trying! */ 
main {
/* There's rarely any time you should set an explicit width. Always use max-width wherever possible. */
     max-width: 1000px;
/* Change the above to width: 1000px and see what happens with responsive */
     margin-left: auto;
     margin-right: auto; 
      }

/* let's talk about nesting */ 
.item li {
          margin-left: 25px;
}
blockquote {
text-transform: uppercase; 
font-style: italic;
}


nav {
text-align: center;
}
nav li {
display: inline-block;
}
/* nav li a, or nav a ?? */ nav a {
background: white; 
color: black;
padding: 5px; 
text-decoration: none; 
border-radius: 10px;
}
nav a:hover {
background: #FFE200;
}
body {
		background-image:  linear-gradient(to right, #009fff, #00c1ff, #00ddfa, #00f2b6, #00ff55);

background-image: url; 
background-repeat: no-repeat; 
background-size: cover;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: gold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/* Media Query - Responsive */
@media screen and (min-width: 500px ) { 
body {
		background-image:  linear-gradient(to right, #009fff, #00c1ff, #00ddfa, #00f2b6, #00ff55);

font-family: arial; 
}
.item
	{
;
}
h2{
font-family: 'arial', regular; 
}
	h1{
		font-family: 'Alfa Slab One', cursive;
	}
	
	
	@media screen and (min-width: 768px){ 
body {
background-image:  linear-gradient(to right, #009fff, #00c1ff, #00ddfa, #00f2b6, #00ff55);
background-repeat: no-repeat; 
background-size: cover;
}
.item {

background-image: linear-gradient(to right top, #6666cc, #6262cc, #5d5dcc, #5959cb, #5454cb);
}
        footer {
        color: white;
        clear: both;
} 
		header{
	background-image:
	